In [3]:
import os
import pandas as pd

In [14]:
# practice with pandas
# create a list of dicts :
dicts = [{'movie' : 'raja hindustani', "lead" : "amir khan"}, {'movie' : "zindagi na milegi dobara" , "lead" : ('hrithik', 'farhan', 'abhay')}]

In [15]:
df = pd.DataFrame(dicts)

In [16]:
df.head()

                      movie                      lead
0           raja hindustani                 amir khan
1  zindagi na milegi dobara  (hrithik, farhan, abhay)

In [17]:
df.iloc[0]

movie    raja hindustani
lead           amir khan
Name: 0, dtype: object

In [7]:
# main work starts here : 
BASE_DIR = os.path.dirname(os.getcwd())
DATA_DIR = os.path.join(BASE_DIR, 'data')

In [8]:
os.listdir(DATA_DIR)

['.~lock.2016.csv#',
 '2005.csv',
 '2006.csv',
 '2007.csv',
 '2008.csv',
 '2009.csv',
 '2010.csv',
 '2011.csv',
 '2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 '2019.csv',
 '2020.csv']

In [9]:
df = pd.read_csv(os.path.join(DATA_DIR, '2020.csv'))

In [10]:
df.head()

,Rank,Release Group,Worldwide,Domestic,%,Foreign,%.1
0,1,Bad Boys for Life,"$419,074,646","$204,417,855",48.8%,"$214,656,791",51.2%
1,2,Sonic the Hedgehog,"$306,766,470","$146,066,470",47.6%,"$160,700,000",52.4%
2,3,Dolittle,"$223,343,452","$77,047,065",34.5%,"$146,296,387",65.5%
3,4,Birds of Prey: And the Fantabulous Emancipatio...,"$201,858,461","$84,158,461",41.7%,"$117,700,000",58.3%
4,5,The Invisible Man,"$122,914,050","$64,914,050",52.8%,"$58,000,000",47.2%

In [12]:
df.iloc[0]

Rank                             1
Release Group    Bad Boys for Life
Worldwide             $419,074,646
Domestic              $204,417,855
%                            48.8%
Foreign               $214,656,791
%.1                          51.2%
Name: 0, dtype: object